body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.logo{
  display: block;
  height: 50px;
  width: auto;
}
/* div > h1{
  display: block;
  width: 60%;
}
img{
  float: left;
  height: 200px;
  width: auto;
}
.left{
  display: inline-block;
  float: left;
}
.right{
  display: inline-block;
  float:right
}
.card{
  width: 50%;
  margin: 0;
}
div div > p, div div > h2{
  text-align: left;
  
} */